.features__container {
    margin-top: -3.125rem;
    background-color: rgba(20, 110, 180, 0.05);
    height: 20.75rem;
    display: flex;
    justify-content: center;
}

.features {
    width: 80%;
    display: flex;
    margin: 0 auto;
}

.feature__search,
.feature__select,
.feature__standout {

    width: 33%;
    padding: 4rem 0rem;
}


.feature__select {
    padding: 4rem;
}

.feature__select__title,
.feature__search__title,
.feature__standout__title {
    font-weight: bold;
    margin: 1rem 0rem;
    font-family: 'Galano Grotesque';
    color: #1A181E;
    font-size: 1.25rem;
}