.freesloganmaker__main__container {
    transform: translate(13%, -10%);
    width: 80%;
    top: 5.937rem;
    background: white;
    left: 10%;
    box-shadow: 0 0.125rem 0.5rem rgba(26, 24, 30, 0.06);
    border-radius: 0.5rem;
}

.sloganmaker__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    padding: 3rem 8rem;
}

@media only screen and (min-device-width: 48rem) {
    .sloganmaker__container {
        padding: 3rem 4rem;
    }
}


@media only screen and (max-device-width: 37.5rem) {
    .sloganmaker__container {
        padding: 3rem 2rem;
    }
}



.freesloganmaker__heading {
    display: flex;
    justify-content: flex-start;
    font-weight: bolder;
    font-size: 2.25rem;
    line-height: 2.625rem;
    font-family: 'Galano Grotesque';
    letter-spacing: -0.04rem;

    color: #1A181E;

}

.freesloganmaker__sub__heading {
    margin: 2rem 0;

}

.slogan__search__heading {
    font-size: 1rem;
    color: #4D4D4D;
    margin-bottom: 0.5rem;
}


.slogan__search__input {
    position: relative;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.slogan__search__input input {
    box-sizing: border-box;
    border: 0.063rem solid #D9D9D9;
    border-radius: 0.25rem;
    height: 2rem;
    width: 15rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0.5rem 2rem 0.5rem 1rem;
    background: white;
    color: black;
}

.slogan__search__input span {
    position: absolute;
    right: 7%;
    font-size: 116%;
    top: 3%;
    cursor: pointer;
    color: black;
}

.sloganButton button {
    width: 12.75rem;
    height: 3.125rem;
    color: white;
    background: #146EB4;
    border-radius: 0.25rem;
}

.slogan__count {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    font-family: 'Galano Grotesque';
    font-weight: bolder;
    font-size: 1.25rem;
    color: #1A181E;
    margin-bottom: 2rem;
}

.slogan__count button {
    width: 8.563rem;
    height: 2.25rem;
    font-size: small;
    color: #146EB4;
    background: white;
    border: 0.01rem solid #146EB4;
}

.slogans__section {
    padding: 3rem 8rem;
}

@media only screen and (min-device-width: 48rem) {

    .slogans__section {
        padding: 3rem 4rem;
    }
}


@media only screen and (max-device-width: 37.5rem) {
    .slogans__section {
        padding: 3rem 2rem;
    }
}

.slogans__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.individual__slogan__card {
    cursor: pointer;
    padding: 1rem;
    width: 40%;
    text-align: left;
    margin: 1rem 0rem;
    background-color: #F2F2F2;
    border-radius: 0.25rem;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}

.pagination__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}

.pagination__btn__container {
    display: flex;
}

.pagination__buttons_active {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    flex-shrink: 0;
    border: 0.003125rem #146EB4;
    position: relative;
    padding: 0.5rem;
    margin: 0.2rem;
    background-color: #146EB4;
    color: white;
    cursor: pointer;
}



.pagination__buttons_inactive {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1rem;
    width: 1rem;
    flex-shrink: 0;
    border: 0.003125rem #146EB4;
    position: relative;
    padding: 0.5rem;
    margin: 0.2rem;
    color: #146EB4;
    cursor: pointer;
}



.prev__button,
.next__button {
    cursor: pointer;
    color: black;
}

.prev__button img {
    transform: scaleX(-1);
    padding-right: 0.2rem;
}

.prev__button,
.next__button img {
    cursor: pointer;
}